.navbar{
  background-color:#5cb55c;
}

.logo-text{
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

.logo-text:hover{
  color: purple
}

.navbar-comp{
  text-decoration: none;
}


.login-temp{
  max-width: 350px;
}

.auth-sec{
  margin-top: 40px;
}

.nav-img{
  background-color: white;
}

.logo-text-sub{
  color: darkorchid;
  font-size: 15px;
  padding-top: 5px;
}

#footer{
 margin-top: 500px;
}

.divForm{
  margin: auto;
  border: 3px solid darkorchid;
  border-radius: 10px;
  padding: 10px;
}

.col{
  
  width: 600px;
  float: left;
  padding: 5px;
}