.navbar{
  background-color:#5cb55c;
}

.logo-text{
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

.logo-text:hover{
  color: purple
}

.navbar-comp{
  text-decoration: none;
}


.login-temp{
  max-width: 350px;
}

.auth-sec{
  margin-top: 40px;
}